#completed {
  .description { 
    text-decoration: line-through; 
    color: #888;
  }
  .created-at,
  .remaining { color: #888; }
}

form.edit_item {
  > div  { 
    display: inline-block; 
    padding: 0 15px;
  }
  .description { font-weight: bold; }
}